* {
    font-family: roboto;
    margin: 1%;
}
header {
    position: sticky;
}
nav {
    justify-content: space-around;
    color: aliceblue;
    background-color: rgb(92, 5, 5);
}
.cards {
    display: flex;
    justify-content: space-around;
}
.card {
    background-color: beige;
}